 <h1>Teaching Kids to Code</h1>


 <p>Create a new project:</p>

 <% @projects.each do |project| %>
   <h3><a href="projects/<%= project.id() %>"><%= project.title %></a></h3>
 <% end %>




<form action="/" method="post">
  <label for="title">Name of the project:</label>
  <input id="title" name="title" type="text">

  <button type="submit">Create Project:</button>
</form>
