 <h1>Project Planner</h1>

 <% if @projects.any?() %>
   <% @projects.each do |project| %>
     <h3><a href="projects/<%= project.id()%>"><%= project.title %></a></h3>
   <% end %>
 <% else %>
  <p>There are currently no projects underway. Start one here:</p>
 <% end %>

<br>
<form action="/" method="post">
  <label for="title">New project:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Create</button>
</form>
