<h2>Project: <%= @projects.title %></h2>
<br>
<form action="/volunteers" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @projects.id() %>">
  <label for="name">Add a volunteer to this project:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add</button>
</form>
<br>
<% if @projects.volunteers().any?() %>
  <h4>All Volunteers</h4>
  <ul>
    <% @projects.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no volunteers on this project!</p>
<% end %>

<div>
  <br>
  <button class="btn btn-default"><a href="/projects/<%= @projects.id() %>/edit">Edit Project</a></button>
  <br>
  <br>
  <button class="btn btn-default"><a href="/">Home</a></button>
</div>
