
<!-- <h1><%= @project.name() %></h1>

<% if @project.tasks().any?() %>
  <h3>Here are all the tasks in this list:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no volunteers working on this project!</p>
  <% end %>

  <p><a href="/projects/<%= @project.id() %>/edit">Edit <%= @project.name() %> project</a></p>
  <p><a href="/">Return to Main Page</a></p> -->
